body{
    background-color:PINK;
}

h2{
    width:50%;
    pading:5px;
}

h4{
    color:white;
}

button{
    font-size:20px;
    padding:5px;
    border:1px solid white;
    border-radius:5px;
}

img{
    width:25px;
}